[submodule "hide-n-seek/themes/soho"]
	path = hide-n-seek/themes/soho
	url = git@github.com:praneelrathore/soho.git
[submodule "praneelrathore.github.io"]
	path = praneelrathore.github.io
	url = git@github.com:praneelrathore/praneelrathore.github.io.git
